body {
	background-color:whitesmoke;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	width:50%;
	margin: 0 25%;
	color: gray;
}

header p {
	border-bottom: 1px solid gray;
}

header p img {
	text-align: left;
	width: 50px;
}

header div {
	padding:10px;
	text-align: right;
}

header div a {
	padding: 0 10px;
}

header div span:hover {
	color: darkslategray;
}

header div span a:hover {
	color: darkslategray;
}
/*SLIDER*/
*{margin:0; padding:0; list-style:none;}
a{text-decoration:none;	color:#666;}


#wrapper{
	width:600px;
	margin:50px auto;
	height:400px;
	position:relative;
	color:#fff;
	text-shadow:rgba(0,0,0,0.4) 2px 2px 0px;	
}

#slider-wrap{
	width:600px;
	height:400px;
	position:relative;
	overflow:hidden;
}

#slider-wrap ul#slider{
	width:100%;
	height:100%;
	
	position:absolute;
	top:0;
	left:0;		
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	width:600px;
	height:400px;	
}

#slider-wrap ul#slider li > div{
	position:absolute;
	/* top:20px;
	left:35px;	 */
}

#slider-wrap ul#slider li > div h3{
	font-size:36px;
	text-transform:uppercase;	
}

#slider-wrap ul#slider li > div span{
	font-family: Neucha, Arial, sans serif;
	font-size:21px;
}

#slider-wrap ul#slider li i{
	text-align:center;
	line-height:400px;
	display:block;
	width:100%;
	font-size:90px;	
}

 #slider-wrap ul#slider div img{
	width: 100%;	
} 


/*btns*/
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	background:rgba(0,0,0,0.1);
	z-index:100;
	
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(0,0,0,0.3);	
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:350px;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;
  
  
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}

/*Header*/
h1, h2{text-shadow:none; text-align:center;}
h1{	color: #666; text-transform:uppercase;	font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;} 

/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}
/*End of Slider*/

/*Black Bar*/
#blackbar {
	background-color: black;
	width: 100%;
	display: flex;
	padding:20px 0;
	margin:20px 0;
}


#blackbar #blackbarleft p {
	font-size: .7em;
	color: white;
	float: left;
	margin: 0 0 .1em 0;
}

#blackbar p {
	font-size: .7em;
	color: white;
	margin: 0 0 .1em 0;
}
/*End of Black Bar */

/*Black Bar Left*/
#blackbarleft{
	width: 30;
	margin:0 10%;
	justify-content: space-between;
	
 	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	
	-moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
	
	-webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
}


#blackbarleft h2 {
	color: white;
	float: left;
	font-size: 1.2em;
	margin:  .0em 0 .2em 0;
}

#blackbarleft li {
	color: white;
	font-size: .7em;
	padding: .2em;
}

#blackbarleft ul {
	margin-top: 6.5em;
}

/*Black Bar Right*/

#blackbarright{
	width: 30;
	margin:0 10%;
	justify-content: space-between;
	
 	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	
	-moz-column-gap: 40px; /* Firefox */	
    column-gap: 40px;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
	
	-webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
}

#blackbarright .blackbar-head big {
	color: white;
	font-size: 1.2em;
}

#blackbarright .blackbar-head {
	margin:10px 0;
	display: block;
}

#blackbarright .blackbar-head img{
	width: 25%;
	margin: .05em 0 0 0;
	position: relative;
	top:12px;
}

#blackbarright button{
	margin: 10px 0 0 0;
	 background-color: #580304; 
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 9px;
	
}
 #blackbarright .sum {
	font-size: .99em;
 	color: lightgrey;
}
 #blackbarright .firsttitle {
	font-size: .7em;
 	color: pink;
}
 #blackbarright .secondtitle {
	font-size: .7em;
 	color: red;
}
 #blackbarright .thirdtitle {
	font-size: .7em;
 	color: orangered;
}
/*End of Black Bar Right*/
/*End of Black Bar Left*/



/*SEO Content*/
.wrapper{
	width:1250px;
	margin-left: 20px;
	margin-right: 10px;
}

h3 {font-size: 14pt;
	font-family:;
	color: #79acdc;
}

.box {
	width: 23%;
	margin-left: .5%;
	margin-right: .5%;
	float:left;
}

.five {
	width: 69%;
	position:relative;
	bottom: 90px;
}

/*END of SEO Content*/

.branding {
	color: #1abc9c;
}

.row{
	clear:both;
	width: 96%;
	padding-bottom: 15px;
	padding-left: 2%;
	padding-right: 2%;
}

.row h2 {
	float: left;
	padding: none;
	margin: none;
}

.row h3 {
	font-size: 16px;
}

.column {
	float: left;
	width: 23%;
	padding-left: 2%;
}

.column .about-photos img{
	width: 100%;
}

.about-p {
	text-align: justify;
    text-justify: inter-word;
}

.social {
	float: right;
	display: inline;
}

.social ul li{
	display: inline;
}

.branding {
	color: #1abc9c;
}

.row{
	clear:both;
	width: 96%;
	padding-bottom: 15px;
	padding-left: 2%;
	padding-right: 2%;
}

.row h2 {
	float: left;
	padding: none;
	margin: none;
}

.row h3 {
	font-size: 16px;
}

.column {
	float: left;
	width: 23%;
	padding-left: 2%;
}

.column .about-photos img{
	width: 100%;
}

.about-p {
	text-align: justify;
    text-justify: inter-word;
}

.social {
	float: right;
	display: inline;
}

.social ul li{
	display: inline;
}






